extends layout

block content
  h4 List #{params.id}
  ul.large-block-grid-4.small-block-grid-2
    - each word in wordlist
      li.th
        p= word
  p
    a.button.round(href='/eeds') Back to Listing