extends layout

block content
  .sixteen.columns
    h2 Word Lists
  .sixteen.columns
    ul
      - each list in wordlists
        li.five.columns
          a(href='/eeds/word-list/#{list}') List #{list}