extends layout

block content
  .sixteen.columns
    h2 List #{params.id}
    ul
      - each word in wordlist
        li.five.columns= word
  .sixteen.columns
    p
      a(href='/eeds') Back to Listing