doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.internal
      h1
        a(href='/')= title
      block content
      div.footer
        //- p
          a.btn(href='mailto:mike@mikepacella.com') 
            i.icon-envelope
            | Email Mike